<h1>Chào bạn <%= fullname %>,</h1>
<p> Chúc mừng bạn đã đăng ký làm thành viên của NanoSkilsLearning thành công !
  Bạn hãy Click vào đường link này để xác nhận thông tin <a href="<%= linkVerify%>">Link verify</a></p>
